body {
  margin: 60px auto !important;
  width: 70%;
}
@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
}

body.light-theme {
  background-color: #ffffff;
  color: black;
}

body.dark-theme {
  background-color: rgb(20, 20, 20);
  color: white;
}

body.dark-theme p {
  color: #ddd;
}

nav ul, footer ul {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
  padding: 0px;
  list-style: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.chat {
  padding-top: 20px;
  padding-bottom: 50px;
}

#root>div>div.h-12.border-b.border-neutral-900>form>input {
  background-color: #ffffff;
  color: black;
  width: 360px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}