<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dennismuensterer@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dnnsmnstrr">github.com/dnnsmnstrr</a></li>
              <li><a href="https://dennis.muensterer.com">dennis.muensterer.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
